.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderCard{
  height: 10px;
}

.right_arrow {
  position: absolute;

  right: 32px;
  font-size: 3rem;
  color: #0000001b;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left_arrow {
  position: absolute;
  box-sizing: border-box;
  left: 32px;
  font-size: 3rem;
  color: #0000001b;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide_active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.root {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
}
.image {
  width: 70vw;
  height: 30vw;
  margin-bottom: 1rem;
  object-fit: contain;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #444;
}
