section .cart {
  position: relative;
  border: 1px solid #ccc;
}

.amount span {
  color: crimson;
  padding: 0 20px;
}

.amount .count {
  width: 40px;
  height: 30px;
  border: 1px solid #555;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.delete {
  color: crimson;
  cursor: pointer;
  font-weight: 900;
}
.total {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total a {
  text-decoration: none;
  background: #333;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 25px;
}

.total h3 {
  margin-right: 50px;
  color: crimson;
}

.cantidad {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.cantidad-button {
  width: auto;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid rgba(27, 31, 35, 0.753);
  border-radius: 6px;
  text-align: center;
  font-size: 30px;
  margin: 5px;
}

.remove-button {
  width: auto;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  color: black;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.753);
  border-radius: 6px;
  text-align: center;
  margin: 3px;
  margin-bottom: 3px;
  position: fixed;
  bottom: 0px;
  left: 18%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.limpiar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }

  .limpiar {
    margin-left: 0;
    margin-top: 10px;
  }
}

.product-details {
  width: 18rem;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.product-details p {
  margin: 5px;
}

.product-details img {
  overflow: hidden;
}

.product-details h2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 56px;
  margin-top: 4%;
}

.details-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-container {
  margin-bottom: 20px;
}

.checkout-button {
  width: auto;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid rgba(27, 31, 35, 0.753);
  border-radius: 6px;
  text-align: center;
  margin: 3px;
  margin-bottom: 3px;
  position: fixed;
  bottom: 0px;
  right: 18%;
}

.icon {
  position: relative;
  top: -300px;
}

.botones-comprarvaciar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 18%;
  margin-top: 1%;
}

.total-container {
  margin-top: 2%;
}

@media (max-width: 768px) {
  .details-container {
    max-width: 100%;
    flex-direction: column;
  }

  .product-container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .product-details {
    font-size: 0.8rem;
  }

  .cantidad {
    margin-top: 10px;
  }
}
