/* Centramos los elementos principales verticalmente y le agregamos un padding */
.container {
  padding-top: 8vh;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
/*agrego zoom a las imagenes*/
.zoom-on-hover {
  transition: transform 0.2s ease-out;
}

.zoom-on-hover:hover {
  transform: scale(1.2);
}


/* Agregamos un fondo y un borde a los contenedores de los elementos principales */
.details-container,
.details-reviews {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Alineamos verticalmente los elementos de la imagen */
.details-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Damos estilo al botón "Añadir al carrito" */
.details-cart button {
  margin: 10px 10px;
  background-color: crimson;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}

.details-cart button:hover {
  background-color: rgb(105, 6, 26);
  transform: translateY(-2px);
}

/* Damos estilo al botón "Volver" */
.button-volver {
  margin: 0px 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.button-volver:hover {
  background-color: #a5a1a1;
  transform: translateY(-2px);
}

/* Estilizamos la sección de Reviews */
.details-reviews {
  margin-top: 2rem;
  padding: 2rem;
}

.details-review-percentage {
  margin-bottom: 1rem;
}

.details-review-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details-review {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.details-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.details-images img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-right: 20px;
  cursor: pointer;
  border: 2px solid #ddd;
}

.details-images img:hover {
  border-color: #000;
}
