/* Centramos los elementos principales verticalmente y le agregamos un padding */
.container {
  padding-top: 7vh;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
/*agrego zoom a las imagenes*/
.zoom-on-hover {
  transition: transform 0.2s ease;
}

.zoom-on-hover:hover {
  transform: scale(1.1);
}

.details-image-container {
  overflow: hidden;
  height: 350px; /* ajusta la altura de acuerdo a tu necesidad */
}

.details-image {
  background-size: cover;
  transition: background-position 0.2s ease;
}

.details-image:hover {
  transform: scale(1.1);
  background-position: 50% 50%; /* ajusta la posición para explorar diferentes partes de la imagen */
  cursor: zoom-in; /* cambia el cursor para indicar que la imagen es zoomable */
}

/* Agregamos un fondo y un borde a los contenedores de los elementos principales */
.details-container,
.details-reviews {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Alineamos verticalmente los elementos de la imagen */
.details-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}

/* Damos estilo al botón "Añadir al carrito" */
.details-cart button {
  margin: 10px 10px;
  background-color: crimson;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}

.details-cart button:hover {
  background-color: rgb(105, 6, 26);
  transform: translateY(-2px);
}

/* Damos estilo al botón "Volver" */
.button-volver {
  margin: 0px 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.button-volver:hover {
  background-color: #a5a1a1;
  transform: translateY(-2px);
}

/* Estilizamos la sección de Reviews */
.details-reviews {
  margin-top: 2rem;
  padding: 2rem;
}

.details-review-percentage {
  margin-bottom: 1rem;
}

.details-review-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details-review {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.details-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.details-images img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-right: 20px;
  cursor: pointer;
  border: 2px solid #ddd;
}

.details-images img:hover {
  border-color: #000;
}

.detailss-cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}
input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
  transition: color 200ms;
}

@media screen and (max-width: 768px) {
  .details-container {
    flex-direction: column;
    padding: 1rem;
  }
  .details-image-container {
    height: 250px;
  }
  #imageprinci {
    height: 220px;
  }
  .details-image {
    width: 100%;
  }
  .details-images {
    flex-direction: column;
    justify-content: center;
  }
  .details-images img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .details-container {
    padding: 0.5rem;
  }
  .details-image-container {
    height: 200px;
  }
  .details-images img {
    width: 150px;
    height: 150px;
  }
}
