.contenedor {
  position: fixed;
  top: 0;
  left: 0;
  /* height: 100%;*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: crimson; /* Agrega un fondo semi-transparente */
  z-index: 999;
}

header {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.user-name {
  color: white;
  padding-left: 6px;
}
header .logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
header nav {
  display: flex;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(203, 203, 203);
  padding: 0 15px;
}
nav ul li a:hover {
  color: rgb(0, 0, 0);
}
nav .nav-cart {
  cursor: pointer;
  position: relative;
  margin-left: auto;
}

nav .user-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.logout-icon {
  position: fixed;
  margin-top: 8px;
  padding-right: 40px;
  color: white;
  top: 20px;
  right: 20px;
  transform: translate(50%, -50%);
  cursor: pointer;
}

nav .nav-cart span {
  position: absolute;
  top: -12px;
  right: -7px;
  background: rgb(255, 255, 255);
  font-size: 10px;
  color: rgb(0, 0, 0);
  padding: 3px 5px;
  border-radius: 50%;
  z-index: -1;
}
header .menu,
header .close {
  cursor: pointer;
  display: none;
}
@media (max-width: 650px) {
  nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 0 15px;
  }
  header ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: white;
    z-index: 99;
    opacity: 0.97;
    transition: 0.5s linear;
  }
  header .menu,
  header .close {
    display: block;
  }
  header .close {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  header ul.toggle {
    left: 0;
  }
}
