.profilecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.username {
  font-size: 24px;
  margin-bottom: 20px;
}

.profileinfo {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  width: 50vh;
  align-items: center;
}

.profileinfo p {
  margin: 10px 0;
}
