.profileImage{
    max-width: 12rem;
    margin-bottom: 1rem;
}

.userdata{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.item {
    font-size: large;
    align-items: center;
    margin: -2px;
}

.admin{
    margin-top: 2rem;
    margin-bottom: 3%;
    font-size: 20px;
}

.button {
    width: 100%;
    border: 1px solid rgba(27, 31, 35, 0.753);
    border-radius: 6px;
    padding: 2%;
    font-size: 1rem;
    margin: 5px;
}

#inicio {
    width: 100%;
    border: 1px solid rgba(27, 31, 35, 0.753);
    border-radius: 6px;
    padding: 2%;
    font-size: 1rem;
    margin-top: 8%;
    background-color: aquamarine;
}

.editButton{
    display: flex;
    align-items:center;
}

.inputEdit{
    margin-left: 2%;
}

.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 20rem;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}